@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Plus+Jakarta+Sans&family=Roboto&display=swap');

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
    font-family: 'Nunito', sans-serif;
    list-style: none;
	}
/* --------------- Generic ----------------- */
.flex{
    display: flex;
}
.align{
    align-items: center;
}
.col {
    flex-direction: column;
}
.border {
    border: 2px solid black;
}
.pad {
    padding: 2rem 1rem;
}
.italic {
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.gap {
    gap: 1.5rem;
}
.center {
    text-align: center;
}
.space-between{
    justify-content: space-between;
}
.pad-btm {
    padding-bottom: 1rem;
}
h1{
    font-size: 2rem;
    font-weight: 800;
}
h2 {
    font-size: 2rem;
    font-weight: 400;
}
h3{
    font-size: 1.54rem;
}
body {
    padding: 0 15%;
}
