* {
    padding: 0px;
    margin: 0px;
}
.flag {
    background-color: whitesmoke;
    border: 2px solid black;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}