/* -----CSS Reset---- */
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
/* ------Fancy Button-------- */
.btn {
    color:aliceblue;
    background-color: rgb(73, 73, 255);
    border: 2px solid black;
    box-shadow: 10px 4px 1px black;
    width: 150px;
    height: 30px;
    font-size: .9em;
}
/* ----------Flexible Rows----- */
.row {
    display: flex;
}
.col {
    background-color: darkcyan;
    color: whitesmoke;
    padding: 20px;
    margin: 10px;
    flex: 1;
}
/* -------Flexible NavBar------ */
.nav {
    background-color: gray;
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    margin: 0;
    display: flex;
    justify-content: right;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

li {
    padding: 10px;
}
button {
    border: 1px solid black;
    background-color:rgb(2, 180, 180);
    box-shadow: 3px 3px 1px black;
}
/* -------General Classes---- */

.flex{
    display: flex;
}
.flex-align {
    display: flex;
    align-items: center;
}
.col {
    flex-direction: column;
    gap: 2rem;
}