* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-links { 
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    
}
.nav-links > ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
li{
    list-style: none;
}

