* {
    margin: 10px 10px auto;

}

#search {
    color:turquoise;
    background-color: aliceblue;
    border: 2px solid turquoise;
    border-radius: 20px;
    width: 125px;
    height: 25px;
}
#add {
    background-color: rgb(77, 255, 195);
    color:aliceblue;
    height: 30px;
    width: 30px;
    border: 1px solid rgb(77, 255, 195);
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bold;
    transition: .5s ease-in-out;

    
}

#add:hover {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#create-account {
    color:aliceblue;
    background-color: rgb(73, 73, 255);
    border: 2px solid black;
    box-shadow: 10px 4px 1px black;
    width: 150px;
    height: 30px;
    font-size: .9em;
    transition: .5s ease-in-out;
}
#create-account:hover {
    color:aliceblue;
    background-color: rgb(96, 96, 255);
    border: 2px solid black;
    box-shadow: 12px 5px 2px black;
    width: 160px;
    height: 35px;
    font-size: 1em;
    transition: .5s ease-in-out;
    cursor: pointer;

}



#rounded {
    background-color: cornflowerblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: .1px 5px 3px 1px rgb(0, 0, 0);
    transition: .3s ease-in-out;

}
#rounded:hover {
    background-color: rgb(136, 168, 229);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: .1px 6px 4px 4px rgb(0, 0, 0);
    transition: .3s ease-in-out;
    scale: 1.1;

}
