* {
    padding:0;
    margin:0;

}
.flag{
    background-color: #0067a2;
    height: 400px;
    width: 800px;
    margin: 0 auto;
    /* display: flex; */
    position: relative;
    margin-top: 10px;
}
.stripe1 {
    background-color: #f6c600;
    width: 75px;
    height: 100%;
    /* margin-left: 250px; */
    position: absolute;
    left: 30%

}
.stripe2{
    background-color: #f6c600;
    height: 75px;
    width: 100%;
    /* margin-bottom: 132px; */
    position: absolute;
    top: 40%
}